@{
    ViewData["Title"] = "Home Page";
}

<div id="cabra" class="container" style="margin:0 auto; height:100%;padding:0;">


    <div class="row nomorere " style="margin:0 auto;max-width:700px;">




        <div class="col-md-12 col-xs-12 col-sm-12" id="meu" style="width:auto;max-width:700px;max-height:560px;height:auto; margin:0 auto;padding:30px 0 0 0;">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/SitioOuteiro/img/Aéreas/IMG_02.JPG" alt="IMG_02" class="img-responsive" />
                        @*<div class="carousel-caption" role="none" >
                                <p style="font-size:smaller; font-style:oblique; background-color:rgba(0, 0, 0, 0);color:white">
                                    Moreré <br />
                                    um recanto encantado<br /> na costa da Bahia<br />
                                    <a class="btn btn-default" href="" style="background-position:bottom;font-size:xx-small">
                                        Mais
                                    </a>
                                </p>
                            </div>*@
                    </div>
                    <div class="item">
                        <img src="~/SitioOuteiro/img/Aéreas/IMG_03.jpg" alt="IMG_03" class="img-responsive" />
                        @*<div class="carousel-caption" role="option">
                                <p style="font-size:smaller; font-style:oblique; background-color:rgba(0, 0, 0, 0);color:white">
                                    Um encanto único <br />
                                    <a class="btn btn-default" href="" style="background-position:bottom;font-size:xx-small">
                                        Mais
                                    </a>
                                </p>
                            </div>*@
                    </div>
                    <div class="item">
                        <img src="~/SitioOuteiro/img/Aéreas/IMG_06.jpg" alt="IMG_06" class="img-responsive" />
                        @*<div class="carousel-caption" role="option">
                                <p  style="font-size:smaller; font-style:oblique; background-color:rgba(0, 0, 0, 0);color:white">
                                    Cheio de estórias <br />
                                    <a class="btn btn-default" href=""  style="background-position:bottom;font-size:xx-small">
                                        Mais
                                    </a>
                                </p>
                            </div>*@
                    </div>
                    <div class="item">
                        <img src="~/SitioOuteiro/img/Aéreas/IMG_07.jpg" alt="IMG_07" class="img-responsive" />
                        @*<div class="carousel-caption" role="option">
                                <p  style="font-size:smaller; font-style:oblique; background-color:rgba(0, 0, 0, 0);color:white">
                                    Casa na praia de Bainema <br />para alugar<br />
                                    <a class="btn btn-default" href="" style="background-position:bottom;font-size:xx-small">
                                        Mais
                                    </a>
                                </p>
                            </div>*@
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Prev</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>

        </div>

    </div>

    

</div>
    @*<div class="row">
            <div class="col-md-3">
                <h2>Primeira Figura</h2>
                <ul>
                    <li>Sample pages using ASP.NET Core MVC</li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
                    <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Segunda Figura</h2>
                <ul>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=699562">Add an appsetting in config and access it in app.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                 </div>
            <div class="col-md-3">

            </div>
        </div>*@


    @section scripts{


        <style>
   
            .nomorere {
                opacity: 1.0;
                z-index: 2;
                position: relative;
            }

        </style>


        <script type="text/javascript">

            
           
            
            var imagesArray = new Array();
            var nomeclassArray = new Array();
            var indice = 0;
            var lastclass = '';
            jQuery(document).ready(function () {
                
                
                
                $('.carousel .item').each(function () {
                    var imagem = $(this).find('img');
                    imagesArray.push($(imagem).attr('src'));
                    indice++;
                    nomeclassArray.push('morere' + indice);
                });
                
                for (var i=0;i < imagesArray.length;i++)
                {
                    var pathimagem = imagesArray[i];
                    var moreregenerico = '<style> .morere' + (i + 1) + '{position: relative; }</style>';
                    var morere_before =
                    '<style> .morere'+(i+1)+'::before{content: " ";' +
                     'position: absolute;z-index: 1;opacity: 0.2;display: block;left: 0;top: 0;width:100%;height:100%;' +
                    'background-image: url('+pathimagem+');'+
                     'background-repeat: no-repeat;background-size:cover; }</style>';
                 
                    $('body').append(moreregenerico);
                    $('body').append(morere_before);
                }

                //$('#cabra').addClass(nomeclassArray[0]);
                $('body').addClass(nomeclassArray[0]);
                lastclass = nomeclassArray[0];

                $('.carousel').on('slide.bs.carousel', function (e) {
                    //var coordenador = $(this).closest('#cabra');
                    var coordenador = $(this).closest('body');
                    item_ativo = $(this).find('.item.active');

                    if (e.direction == "left") {
                        var item_ativo2 = $(this).find('.item.active').next();
                        if (item_ativo2.length == 0) {
                            item_ativo2 = $(this).find('.item').first();
                        }
                    }
                    else {
                        var item_ativo2 = $(this).find('.item.active').prev();
                        if (item_ativo2.length == 0) {
                            item_ativo2 = $(this).find('.item').last();
                        }

                    }
                    var imagem = $(item_ativo2).find('img');
                    var tit_imagem = $(imagem).attr('src');
                    indice = -1;
                    for (var i = 0; i < imagesArray.length; i++)
                    {
                        if (imagesArray[i] == tit_imagem) 
                        {
                            indice = i;
                            break;
                        }
                    }
                    if (indice != -1)
                    {
                        $(coordenador).removeClass(lastclass);
                        lastclass = nomeclassArray[indice];
                        $(coordenador).addClass(lastclass);

                    }
                   
                    
               
                    //var body = $(this).closest('body');
                    //var estilo_before =
                    //'<style> .morere::before{content: " ";display: block;left: 0;top: 0;width: 100%;' +
                    //'height: 100%;position: absolute;z-index: 1;opacity: 0.4;' +
                    //'background-image: url(' + pathimagem + ');'+
                    //'background-repeat: no-repeat;background-size: cover;}</style>';
                    ////var pesquise = '/morere1/';
                    //if (coordenador.attr('class') !== undefined && coordenador.attr('class').match(morere1)) {
                    //    $(element).addclass(estilo_before);
                    //}
                    //else {
                    //}
                   // $(body).append(estilo_before);
                    
                });    //<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

            });



        </script>

        @*<script src="~/js/Galeria.js"></script>*@

        
}


