@*@model IEnumerable<AppMorereNovo.Models.GaleriaFoto>*@
@using System.Threading.Tasks;
@using AppMorereNovo.Interface;
@inject IGaleriaRepository galRepository;

@{
    // var novo = galRepository.Lista();
    var modelo = galRepository.SuperPesquisa().InfoFoto;
    ViewData["Title"] = "Galeria";
    



}

<div class="row" style="max-width:1000px; margin:0 auto;">
    @*Escolha a Galeria*@

    <div class="minha">
        <ul id="nav" style="list-style:none;max-width:1000px;margin:0 auto">
            @{
                var novopath = "";
                //var ind = 0;
                @foreach (var item in modelo)
                {

                    if (item.Titulo != novopath)
                    {
                        // ind = ind + 1;
                        //var indice = ind.ToString();
                        novopath = item.Titulo;
                        <li style="float:left;min-width:80px;">
                            <a href="#" rel=@item.oindex id=@item.Titulo>  @item.Titulo   </a>
                        </li>

                    }
                }
            }

        </ul>

    </div>

</div>


<div class="row" id="rowCarousel" >@*style="margin:0 auto;width:auto">*@



</div>



@section scripts{


        
    @*inspired from http://codepen.io/Rowno/pen/Afykb*@
    


        
<style type="text/css" media="screen and (min-width:901px) ">
    .row {
        max-width: 900px;
        margin: 0 auto;
        width: 750px;
    }
    </style>

    <style type="text/css" media="screen and (min-width:769px) and (max-width:900px)" > 
     
    .row {
        max-width: 769px;
        margin: 0 auto;
        width: 750px;
      }
</style>

<style type="text/css" media="screen and (min-width:601px) and (max-width:768px)">
   
    .row {
        max-width: 768px;
        margin: 0 auto;
        width: 601px;
    }
</style>

<style type="text/css" media="screen and  (min-width:481px) and (max-width:600px)">
  
    .row {
        max-width: 480px;
        margin: 0 auto;
        width: 482px;
    }
</style>

<style type="text/css" media="screen and  (max-width:480px)">
  
    .row {
        max-width: 480px;
        margin: 0 auto;
        width: 350px;
    }
</style>


<style>
    .ativada {
    }

    .carousel-fade .carousel-inner .item {
        opacity: 0.5;
        transition-property: opacity;
    }

    .carousel-fade .carousel-inner .active {
        opacity: 1;
    }

        .carousel-fade .carousel-inner .active.left,
        .carousel-fade .carousel-inner .active.right {
            left: 0;
            opacity: 0.5;
            z-index: 1;
        }

    .carousel-fade .carousel-inner .next.left,
    .carousel-fade .carousel-inner .prev.right {
        opacity: 1;
    }

    .carousel-fade .carousel-control {
        z-index: 2;
    }
</style>





    <script type="text/javascript">
      $('#rowCarousel').hide();
      var MyNames = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(modelo))');
    </script>
    <script src="~/js/NovaGaleria.js"></script>
}




